In [3]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('cleaned_data.csv')
df.head()

,date,country,continent,confirmed_cases,deaths,recovered,tests_done,vaccinations
0,2020-12-13 09:00:00,USA,North America,491582.0,12213.0,45832.0,888848.000000,412233.000000
1,2020-07-02 12:00:00,Brazil,South America,449840.0,1943.0,72622.0,508584.088742,126948.000000
2,2020-02-09 11:00:00,Germany,Europe,427485.0,6905.0,390670.0,136830.000000,672999.000000
3,2020-01-22 04:00:00,Russia,Europe,339252.0,16053.0,300459.0,173875.000000,858869.000000
4,2021-01-07 01:00:00,UK,Europe,228273.0,440.0,42711.0,233865.000000,497636.159014

In [14]:
confirmed_cases = df['confirmed_cases'].sum()
total_death = df['deaths'].sum()
total_recoveries = df['recovered'].sum()
average_recovery = df['recovered'].mean()
global_recovery_rate = (total_recoveries/confirmed_cases) * 100
print(confirmed_cases)
print(total_death)
print(total_recoveries)
print(average_recovery)
print(global_recovery_rate)

2488557655.337737
101529564.07442966
1998803757.1776357
199880.37571776356
80.31976887858626

In [15]:
# Top 10 countries
cd = df.groupby("country", as_index=False)[["confirmed_cases", "deaths", "recovered", "tests_done", "vaccinations"]].sum()
ef = cd.sort_values(by='confirmed_cases', ascending=False).head(10).reset_index()
ef.to_csv("top10_data.csv", index=False)

mortality_rate = (df['deaths'].sum()/df['confirmed_cases'].sum()) * 100
recovery_rate = (df['recovered'].sum()/df['confirmed_cases'].sum()) * 100
print(mortality_rate)
print(recovery_rate)

4.079855809515109
80.31976887858626

In [ ]:
# Regional analysis

regional_data = df.groupby('continent')[['confirmed_cases', 'deaths', 'recovered', 'vaccinations']].sum()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Asia to South America
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   confirmed_cases  4 non-null      float64
 1   deaths           4 non-null      float64
 2   recovered        4 non-null      float64
 3   vaccinations     4 non-null      float64
dtypes: float64(4)
memory usage: 160.0+ bytes
None